/*
Theme Name:CBC.COM
Theme URI:www.cbc.com.bd
Author: Oline IT
Author URI:www.onlineit.com
version:0.0.1
Description:Fully device responsive theme
Tags:Dynamic logo,menus,slider,content;

*/
.navbar-brand img {
	width: 50%;
}
.custom-logo {
	width: 50%;
	height: auto;
}
.bg-top {
	background: #fff;
}
.topper .text {
	width: calc(100% - 40px);
	padding-left: 15px;
	color: #022d5d;
}
.tp .ftco-footer-social li a {
	background: #0f3865;
}
.bg-top.navbar-light .container {
	margin-top: -10px;
	margin-bottom: -20px;
}
.col-lg-8.d-block.lt .ths {
	padding-top: 50px;
}
 @media (max-width: 360px) {
 	.col-lg-8.d-block.lt {
			padding-top: 0px !important;
		}
     .col-lg-8.d-block.lt .ths {
		padding-top: 0px;
	}
	.bg-top.navbar-light {
		text-align: center;
	}
	
	.row.d-flex.ths {
		margin-left: 20%;
	}
}

 @media (max-width: 767px) {
 	.col-lg-8.d-block.lt {
			padding-top: 0px !important;
		}
     .col-lg-8.d-block.lt .ths {
		padding-top: 0px;
	}
	.bg-top.navbar-light {
		text-align: center;
	}
	
	.row.d-flex.ths {
		margin-left: 20%;
	}
}
 @media (max-width: 800px) {
     .col-lg-8.d-block.lt .ths {
		padding-top: 0px;
	}
	.row.d-flex.ths {
		margin-left: 20%;
	}
}


#navbarSupportedContent ul li a {
	border-right: 1px solid #165ffb;
	padding: 16px 46px;
}

#navbarSupportedContent ul li .dropdown-menu a {
	border-right: none;
	padding: 10px 10px;
	border-bottom: 1px solid #ddd;
}
#navbarSupportedContent ul li .dropdown-menu a:last-child {
	border-bottom: none;
}

.ftco-navbar-light {
	background: transparent !important;
	background: #233a76 !important;
	z-index: 3;
	padding: 0;
}
.col-lg-8.d-block.lt {
	padding-top: 5%;
}
.col-md-3.tcon span, .tcon p {
	color: #233a76;
}
.row.lrow {
	width: 100% !important;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark.ftco-navbar-light {
	margin-top: 26px;
}
.col-md-3.d-flex.services.align-self-stretch.p-4.ftco-animate.hsrv.fadeInUp.ftco-animated img {
	width: 100%;
	height: auto;
}

.error h1 {
	font-weight: bold;
	color: red;
	font-size: 4em;
}
.error p {
	font-size: 2em;
}